<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
    <link rel="shortcut icon" href="/static/img/icon-salvar.png">
    <title>Fast Note</title>
</head>
<body>
    <header>
        <div class="menu">
            <a href="/front/cadastro"><img class="img-perfil" src="/static/img/usuario-de-perfil.png" title="Perfil"></a>
        </div>
    </header>

    <img class="capa" src="/static/img/Fast Note.png" alt="Fast Note">

    <a href="/front/nota"> <button class="criar-nota" >Criar a sua nota +</button></a>
</body>
</html>